{%extends 'base.html.twig'%}

{% block content %}

<h3>Formulaire de contribution</h3>


<div class="well">
   <div class="col-xs-2">
     </div>
  <div class="col-xs-10">
  {{ form_start(formc, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(formc) }}
  {{ form_row(formc.produit) }}
  {# Génération du label + error + widget pour un champ. #}
  <div class="form-group">

  {{ form_widget(formc.dead) }}
  </div>
  <p>Durée de vie de votre produit</p>
  <div class="form-group form-inline">
  {{ form_errors(formc.year) }}
  {{ form_widget(formc.year) }}
  ans
      et
  {{ form_errors(formc.month) }}
  {{ form_widget(formc.month) }}
  mois
  </div>
  
  {{ form_row(formc.Panne) }}
  
  <a href="#" id="add_category" class="btn btn-default">Ajouter une Panne</a>

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(formc.Contribuer, {'attr': {'class': 'btn btn-primary'}}) }}

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(formc) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(formc) }}
</div>
</div>

<script type="text/javascript">
            $(document).ready(
                function(){
                    $(".createcontribution").click(function(){
                        $(".fenetre").slideDown("slow");
                        });
                    $(".close1").click(function(){
                        $(".fenetre").slideUp("slow");
                    }
                        );

                
                    }
                );

  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#form_Panne');

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_category').click(function(e) {
      addCategory($container);

      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addCategory($container);
    } else {
      // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }

    // La fonction qui ajoute un formulaire CategoryType
    function addCategory($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var template = $container.attr('data-prototype')
        .replace(/__name__label__/g, 'Panne n°' + (index+1))
        .replace(/__name__/g,        index)
      ;

      // On crée un objet jquery qui contient ce template
      var $prototype = $(template);

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
      $deleteLink.click(function(e) {
        $prototype.remove();

        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>

{% endblock %}